<%= form_for(line_item, url: line_item_path, remote: true, method: :put) do |f| %>
  <%= f.hidden_field :lock_version %>

  <div class="input-field inline w-120">
    <%= f.number_field :adjustments, step: :any %>

    <%= button_tag type: "submit", class: "transparent_icon pointer light-green-text text-accent-4" do %>
      <i class="material-icons">check</i>
    <% end %>

    <%= link_to line_item_path(line_item.id), class: "transparent_icon pointer red-text text-accent-4", remote: true do %>
      <i class="material-icons">close</i>
    <% end %>
  </div>
<% end %>
