<table>
  <tr>
    <% if show_campaign.present? %>
      <th><%= sort_link_to("Campaign", request.parameters, "campaigns.name") %></th>
    <% end %>
    <th><%= sort_link_to("Name", request.parameters, "line_items.name") %></th>
    <th><%= sort_link_to("Booked", request.parameters, "booked_amount") %></th>
    <th><%= sort_link_to("Actual", request.parameters, "actual_amount") %></th>
    <th><%= sort_link_to("Adjustments", request.parameters, "adjustments") %></th>
    <th>Sub-total</th>
    <th><%= sort_link_to("Status", request.parameters, "status") %></th>
  </tr>

  <% line_items.each do |line_item| %>
    <tr>
      <% if show_campaign.present? %>
        <td><%= link_to line_item.campaign.name, campaign_path(line_item.campaign.id) %></td>
      <% end %>
      <td><%= line_item.name %></td>
      <td><%= line_item.booked_amount %></td>
      <td><%= line_item.actual_amount %></td>
      <td id="line_item_<%= line_item.id %>_adjustments">
        <%= line_item.adjustments %>&nbsp;&nbsp;
        <%= link_to edit_line_item_path(line_item.id), remote: true do %>
          <i class="material-icons">edit</i>
        <% end %>
      </td>
      <td id="line_item_<%= line_item.id %>_sub_total">
        <%= line_item.sub_total %>
      </td>
      <td id="line_item_<%= line_item.id %>_status">
        <% if line_item.unreviewed? %>
          <%= link_to "review", change_status_line_item_path(line_item.id, event: 'review'), method: :put, remote: true %>
        <% else %>
          <%= line_item.status %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center">
  <%= paginate(line_items) %>
</div>
