<h4 class="center blue-text text-lighten-3">Invoice</h4>

<div class="clearfix">
  <%= link_to 'Back', :back, class: "left" %>
  <%#= link_to 'Download Invoice', campaign_path(@campaign, format: :csv), class: "right" %>
</div>

<div class="clear"></div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Token</span>
    <p><%= @invoice.token %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Campaigns Count</span>
    <p id="invoice_<%= @invoice.id %>_campaigns_count"><%= @invoice.campaigns_count %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Grand Total</span>
    <p id="invoice_<%= @invoice.id %>_grand_total"><%= @invoice.grand_total %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Status</span>
    <p id="invoice_<%= @invoice.id %>_status">
      <%= render(partial: 'invoices/partials/status', locals: {invoice: @invoice}) %>
    </p>
  </div>

  <div class="card-content grey lighten-4">
    <h5>Campaigns</h5>

    <div class="clearfix">
      <a class="right" href="#select_campaigns"><i class="material-icons">add</i></a>
    </div>

    <%= render(partial: 'invoices/partials/select_campaigns', locals: {campaigns: @select_campaigns, url: invoice_path, method: :put}) %>
    <%= render(partial: 'campaigns/partials/list', locals: {campaigns: @campaigns, invoice_mode: nil, invoice: @invoice}) %>
  </div>
</div>