<h4 class="center">Log in</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "col s12") do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="row">
    <div class="col s6 push-s6">
      <%= f.submit "Log in", class: "btn waves-effect waves-light right" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="input-field col s6 pull-s6">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me, class: "filled-in" %>
          <span>remember me</span>
        <% end %>
      </div>
    <% end -%>
  </div>
<% end %>

<%= render "users/shared/links" %>
