<table>
  <tr>
    <th><%= sort_link_to("Name", request.parameters, "name") %></th>
    <th>Items Count</th>
    <th>Grand Total</th>
  </tr>
  <% campaigns.each do |campaign| %>
    <tr>
      <td><%= link_to campaign.name, campaign_path(campaign.id) %></td>
      <td><%= campaign.line_items_count %></td>
      <td><%= campaign.grand_total %></td>
    </tr>
  <% end %>
</table>

<div class="center">
  <%= paginate(campaigns) %>
</div>
