<% invoice = nil if local_assigns[:invoice].nil? %>

<div class="center">
  <%= paginate(campaigns) if campaigns.present? %>
</div>

<table>
  <tr>
    <th><%= sort_link_to("Name", request.parameters, "name") %></th>
    <th>Items Count</th>
    <th>Grand Total</th>
    <th><%= sort_link_to("Status", request.parameters, "campaigns.status") %></th>
    <th></th>
  </tr>

  <% campaigns.each do |campaign| %>
    <tr id="campaign_<%= campaign.id %>_row">
      <td><%= campaign.name %></td>
      <td><%= campaign.line_items_count %></td>
      <td><%= campaign.grand_total %></td>
      <td><%= campaign.status %></td>
      <td>
        <%= link_to campaign_path(campaign.id) do %>
          <i class="material-icons">remove_red_eye</i>
        <% end %>

        <% if invoice.present? %>
          <%= link_to remove_campaign_invoice_path(invoice, campaign_id: campaign.id), method: :put, remote: true do %>
            <i class="material-icons">clear</i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center">
  <%= paginate(campaigns) if campaigns.present? %>
</div>
