<table>
  <tr>
    <th>Select</th>
    <th>Name</th>
    <th>Grand Total</th>
    <th>Status</th>
    <th></th>
  </tr>

  <% campaigns.each do |campaign| %>
    <tr id="campaign_<%= campaign.id %>_row">
      <td>
        <label>
          <input type="checkbox" value="<%= campaign.id %>" name="invoice[campaign_ids][]" id="invoice_campaign_ids_<%= campaign.id %>" />
          <span></span>
        </label>
      </td>

      <td><%= campaign.name %></td>
      <td><%= campaign.grand_total %></td>
      <td><%= campaign.status %></td>

      <td>
        <%= link_to campaign_path(campaign.id), target: :_blank do %>
          <i class="material-icons">remove_red_eye</i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
