<h4 class="center blue-text text-lighten-3">Campaign</h4>

<%= link_to 'Back', :back %>

<div class="card">
  <div class="card-content">
    <span class="card-title">Name</span>
    <p><%= @campaign.name %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Grand Total</span>
    <p id="campaign_<%= @campaign.id %>_grand_total"><%= @campaign.grand_total %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Line Items Count</span>
    <p><%= @campaign.line_items_count %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Status</span>
    <p id="campaign_<%= @campaign.id %>_status">
      <% if @campaign.unreviewed? %>
        <%= link_to "review", change_status_campaign_path(@campaign.id, event: 'review'), method: :put, remote: true, class: "waves-effect waves-light btn" %>
      <% else %>
        <%= @campaign.status %>
      <% end %>
    </p>
  </div>

  <div class="card-content grey lighten-4">
    <h5>Line Items</h5>
    <%= render(partial: 'line_items/partials/list', locals: {line_items: @line_items, in_campaign: true}) %>
  </div>
</div>
