<% remote = false if local_assigns[:remote].nil? %>

<div class="card">
  <div class="card-content">
    <%= form_tag(search_path, method: :get, remote: remote) do %>
      <div class="row">
        <div class="input-field col s8">
          <%= label_tag :search %>
          <%= text_field_tag :search_text, params[:search_text] %>
        </div>

        <div class="input-field col s2">
          <%= select_tag :per, options_for_select([25, 50, 100, 200, 400, 800, 'All'], params[:per]) %>
          <%= label_tag :per %>
        </div>

        <div class="input-field col s2">
          <%= button_tag type: "submit", class: "btn-floating" do %>
            <i class="material-icons">search</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
