<h4 class="center blue-text text-lighten-3">Line Item</h4>

<div class="card">
  <div class="card-content">
    <span class="card-title">Name</span>
    <p><%= @line_item.name %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Campaign</span>
    <p><%= link_to @line_item.campaign.name, url_for(@line_item.campaign) %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Booked Amount</span>
    <p><%= @line_item.booked_amount %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Actual Amount</span>
    <p><%= @line_item.actual_amount %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Adjustments</span>
    <p id="line_item_<%= @line_item.id %>_adjustments">
      <%= @line_item.adjustments %>&nbsp;&nbsp;
      <%= link_to edit_line_item_path(@line_item.id), remote: true do %>
        <i class="material-icons">edit</i>
      <% end %>
    </p>
  </div>

  <div class="card-content">
    <span class="card-title">Sub-total</span>
    <p><%= @line_item.sub_total %></p>
  </div>

  <div class="card-content">
    <span class="card-title">Status</span>
    <p id="line_item_<%= @line_item.id %>_status">
      <% if @line_item.unreviewed? %>
        <%= link_to "review", change_status_line_item_path(@line_item.id, event: 'review'), method: :put, remote: true, class: "waves-effect waves-light btn" %>
      <% else %>
        <%= @line_item.status %>
      <% end %>
    </p>
  </div>
</div>
