<h4 class="center">Sign up</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "col s12") do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row">
    <div class="col s6 push-s6">
      <%= f.submit "Sign up", class: "btn waves-effect waves-light right" %>
    </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
